[Unit]
Description=Node.js office weather api
Requires=After=mariadb.service

[Service]
ExecStart=/usr/local/bin/node /home/pi/tempServer/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardErrort=syslog
SyslogIdentifier=temp-server
User=pi

[Install]
WantedBy=multi-user.target
